@import "tailwindcss";
body {
  background: linear-gradient(140deg, #fffbfb, #ffe4b2, #2e2e2e);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
  min-height: 100vh;
  margin: 0;
  padding: 0 5px;
  color: #0a0a0a;
  font-family: var(--font-tajawal, Arial, Helvetica, sans-serif);
  overflow-x: hidden;
}
button {
  border: none;
  border-radius: 250px; /* pill style */
  padding: 0.75rem 2rem;
  background: linear-gradient(135deg, rgb(255, 133, 12), rgb(244, 180, 83));
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;

  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.35s ease;
  box-shadow: 0 4px 20px rgba(6, 182, 212, 0.3),
    0 2px 8px rgba(52, 211, 153, 0.2);
  backdrop-filter: blur(6px); /* glass effect */
}

button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 25px rgba(255, 208, 19, 0.4),
    0 4px 12px rgba(255, 165, 40, 0.763);
  background: linear-gradient(135deg, #5d5d5d, #ffa83e);
  color: #000;
}

button:active {
  transform: scale(0.97);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  font-weight: 500;
  text-decoration: inherit;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  animation: gradient 60s ease infinite;
}
